@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-content: center;
  background-color: #EAF2EF;
  font-family: 'Ubuntu', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App th {
  border: 1px solid black;
  font-family: Lucida Sans;
  font-size: 20px;
  background-color: darkgreen;
  color: #EAF2EF;
}

.App h1 {
  font-family: fantasy;
  font-size: 45px;
  background-image: url(./images/binarni.jpg);
  padding: 90px;
  margin-bottom: 1px;
  /* color: gold; */
}

.App td {
  border: 1px solid black;
}

.App tr:nth-child(even) {
  background: #53DD6C;
}

.App tr:nth-child(odd) {
  background: white;
}